<h1>Candidates</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Score</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.email %></td>
	<td><%= candidate.score %></td>
        <td>
	  <%= current_user && link_to('Vote', votes_path(
	    vote: { candidate_id: candidate.id }
	  ), method: :post) %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>
