<h1>Candidates</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Score</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.email %></td>
	<td><%= candidate.score %></td>
        <td><%= link_to 'Vote', new_vote_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
